<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>components-slot</title>
    <script src="../../js/vue.js"></script>
    <style>
        [v-cloak]{
            display: none;
        }
        .panel{
            margin:10px;
            width:150px;
            border: 1px solid #ccc;
        }
        .panel-header,
        .panel-bottom{
            height: 30px;
            background-color: wheat;
        }
        .panel-body{
            min-height: 50px;
        }
    </style>
</head>
<body>
    <div id="app">

        <panel>
            <template v-slot:title>
                <h3>We love you</h3>
            </template>
            <template v-slot:default="stu">
                {{stu.name}}
            </template>
            <div>Welcome to vue.js</div>
            <a href="http://www.jd.com" slot="more">京东</a>
        </panel>

    </div>
</body>
<script type="text/x-template" id="panelTpl">
    <div class="panel">
        <div class="panel-header"><slot name="title">默认头部内容</slot></div>
        <div class="panel-body">
            <slot v-bind="stu"></slot>
        </div>
        <div class="panel-bottom"><slot name="more">默认底部内容</slot></div>
    </div>
</script>
<script>
    const panelTpl={
        data(){
            return{
                stu:{
                    name:'A'
                }
            }
        },
        template:`#panelTpl`
    }
    const vm = new Vue({
        el: '#app',
        data: {
            title: '大家好',
            name: ''
        },
        components: {
            'panel': panelTpl
        }
    })
</script>
</html>