<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>components-slot</title>
    <script src="../../js/vue.js"></script>
    <style>
        [v-cloak]{
            display: none;
        }

    </style>
</head>
<body>
    <div id="app">

    </div>
</body>
<script type="text/x-template" id="tempA">
    <div>
        <header>
            <slot name="header"></slot>
        </header>
        <body>
            <slot></slot>
        </body>
        <footer>
            <slot name="footer"></slot>
        </footer>
    </div>
</script>
<script type="text/x-template" id="tempB">
    <div>
        <base-layout>
            <template #header>
                <h1>我是页头</h1>
            </template>
            <div class="main">我是主体内容1</div>
            <div class="main">我是主体内容2</div>
            <template v-slot:footer>
                <p>我是页脚</p>
            </template>
            <div class="main">我是主体内容3</div>
        </base-layout>
    </div>
</script>
<script>
    const BaseLayout={
        template:`#tempA`,
    }


    const vue = new Vue({
        el:'#app',
        template:`#tempB`,
        components:{
            BaseLayout
        }
    });
</script>
</html>