<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>components-global</title>
    <script src="../../js/vue.js"></script>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <hello-vue></hello-vue>
    </div>
    <template id="tmp1">
        <div>
            <div>{{title}}</div>
            <div>{{title}}</div>
        </div>
    </template>

</body>
<script>
    const myComponent = Vue.extend({
        data(){
            return {
                title:'I am a global component'
            }
        },
        template:'#tmp1'
    });
    Vue.component('helloVue',myComponent);

    const vue = new Vue({
        el:'#app',
    });



</script>
</html>