<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>components-communication</title>
    <script src="../../js/vue.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>
<div id="app">
    <b-component></b-component>
</div>
</body>
<script type="text/x-template" id="tempA">
    <div>
        <input type="text" v-model="msg" @change="handleChange">
    </div>
</script>
<script type="text/x-template" id="tempB">
    <div>
        <a-component @change-son="receiveFromSon"></a-component>
        <p>The data form son is {{message}}</p>
    </div>
</script>
<script>

    const AComponent = {
        data(){
            return{
                msg:''
            }
        },
        methods:{
            handleChange(){
                this.$emit('change-son',this.msg);
            }
        },
        template: `#tempA`,
    }

    const BComponent = {
        data() {
            return {
                message: ''
            }
        },
        components:{
            AComponent
        },
        methods:{
            receiveFromSon(msg){
                this.message = msg;
            }
        },
        template: `#tempB`
    }
    const vue = new Vue({
        el: '#app',
        components: {
            BComponent
        }
    });
</script>
</html>