<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>v-model</title>
    <script src="../../js/vue.js"></script>
    <style>
        [v-cloak]{
            display: none;
        }
        div{
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <label>
            <input type="checkbox" v-model="toggle" true-value="yes" false-value="no">
        </label>
        {{toggle}}<br/>
        <label>
            <select v-model="selected">
                <option value="" disabled>请选择</option>
                <option :value="item" v-for="(item,index) in list" :key="index">{{item.title}}</option>
            </select>
        </label>
        <span>选中的值：{{selected.title}}，价格：{{selected.price}}</span>

    </div>
</body>
<script>
    const vue = new Vue({
        el:'#app',
        data(){
            return{
                toggle:'',
                selected: {},
                list:[
                    {title:"羊肉串",price:2},
                    {title:"猪肉串",price:3},
                    {title:"馒头片",price:0.5}
                ]
            }
        },
        methods:{

        },
        watch:{
            selected(v1,v2){
                console.log(typeof v1);
                console.log(typeof v2);
            }
        }
    });

</script>
</html>