<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>v-if</title>
    <script src="../../js/vue.js"></script>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <template v-if="true">
            <div>生成</div>
            <div>删除</div>
            <div>年龄</div>
        </template>
        <hr>
        <div v-if="isVip">
            VIP会员
        </div>
        <div v-else>
            普通会员
        </div>
        <div v-if="grade>=90">
            优异
        </div>
        <div v-else-if="grade>=80&&grade<90">
            良好
        </div>
        <div v-else-if="grade>=70&&grade<80">
            中等
        </div>
        <div v-else-if="grade>=60&&grade<70">
            及格
        </div>
        <div v-else="grade<60">
            不及格
        </div>
    </div>
</body>
<script>
    const vue = new Vue({
        el:'#app',
        data(){
            return{
                isVip:true,
                grade:78
            }
        }
    });

</script>
</html>