<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>components-communication</title>
    <script src="../../js/vue.js"></script>
    <style>
        [v-cloak]{
            display: none;
        }

    </style>
</head>
<body>
    <div id="app">
        <father-component></father-component>
    </div>
</body>
<script type="text/x-template" id="tempA">
    <div>
        <h1 :message="message" v-bind="$attrs">{{message}}</h1>
    </div>
</script>
<script type="text/x-template" id="tempB">
    <son-component :message="message" hhh="hhh" style="height:100px"></son-component>
</script>
<script>
    const SonComponent={
        props:{
            'message':{
                type:String
            }
        },
        inheritAttrs:true,
        template:'#tempA',
    }

    const FatherComponent={
        data(){
            return{
                message:'Welcome to Vue'
            }
        },
        components:{
            SonComponent
        },
        template:'#tempB'
    }
    const vue = new Vue({
        el:'#app',
        components:{
            FatherComponent
        }
    });

    console.log(SonComponent);
</script>
</html>