<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>components-local</title>
    <script src="../../js/vue.js"></script>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <table>
            <tr is="component-tr"></tr>
        </table>
    </div>
</body>
<script type="text/x-template" id="tmp1">
    <div>
        <tr v-for="item in stuList">
            <td>{{item.name}}</td>
            <td>{{item.num}}</td>
        </tr>
    </div>
</script>
<script>
    const componentTr={
        data(){
            return{
                stuList: [
                    { num: '1001', name: 'zhangsan' },
                    { num: '1002', name: 'lisi' },
                    { num: '1003', name: 'wangwu' }
                ]
            }
        },
        template:`#tmp1`
    }

    const vue = new Vue({
        el:'#app',
        components:{
            componentTr
        }
    });
</script>
</html>