<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>watch 监听</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <style>

    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name">
        <input type="text" v-model="msg">
        <br/>
        <input type="text" v-model="User.name">
        <input type="text" v-model="User.gender">
    </div>
</body>
<script>
    Vue.config.keyCodes.sp=32;
    new Vue({
        el: '#app',
        data: {
            name: '',
            msg: '',
            User: {
                name: 'zhangsan',
                gender: 'male'
            }
        },
        methods:{
            updateMsg(newValue,oldValue){
                console.log(newValue,oldValue);
            }
        },
        watch: {
            name:function(newValue,oldValue){
                console.log(newValue,oldValue);
            },
            msg: 'updateMsg',
            'User': {
                handler: function(newValue,oldValue){
                    console.log(newValue,oldValue);
                },
                deep: true
            }
        }
    })
</script>
</html>